*~
*.py[cod]
*.bak
*.orig

# Packages
*.egg
*.egg-info
dist

# Database files
*.db

# Generated output (config/report)
jnpr/openclos/out/

# Eclipse files
.project
.pydevproject

#test and coverage files
.coverage
coverage.xml
nosetests.xml
