# include all python files
global-include *.py

# include configuration files
recursive-include jnpr/openclos/conf *

# include script files
recursive-include jnpr/openclos/script *

# include data directory
include jnpr/openclos/data/.dat

# include this file, to ensure we can recreate source distributions
include MANIFEST.in
include README.md
include AUTHORS

#exclude all bytecode
global-exclude *.pyo
global-exclude *.pyc
