--index-url https://pypi.python.org/simple/

netaddr
sqlalchemy==1.1.5
pyyaml
jinja2==2.9.4
pydot==1.2.3
bottle
junos-eznc==2.0.1
passlib
futures==3.0.5
pysnmp==4.3.2
netifaces==0.10.4
paste

# modules needed for test
nose
coverage==4.3.4
webtest==2.0.24
flexmock

# install self
-e .
