--index-url https://pypi.python.org/simple/

paramiko==1.17.0
netaddr
sqlalchemy>=0.9.6
pyyaml
jinja2
pydot
bottle
junos-eznc==1.0.2
futures
pysnmp
netifaces==0.10.4
paste

# modules needed for test
nose
coverage
webtest
flexmock

# install self
-e .
